.text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 0px -17px;
    width: 56px;
    height: 23px;
    border-radius: 1px;
    background-color: rgb(233, 233, 238);
    cursor: pointer;
    /* isse agar mein ispe cursor le ke aungi to hand banke aega  */
}

.btn:hover{
    font-weight: bold;

}
